.fullheight {
    height: 88vh;
}
.dashboardcol {
    min-height: 45vh;
    border-right: 1px solid #cecece;
}
.dashboardcol .dashheading {
    text-align: center;
    background-color: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}
.dashheading i {
    padding-right: 10px;
    color: #a4a4a4;
}
.iconcolumns a {
    color: #cecece;
    padding: 10px;
    display: inline-block;
}
@media (max-width:550px){
    .iconcolumns a {
        padding: 10px 1px;
    }
}

.iconcolumns a:hover {
    color: #ffffff;
}
.iconcolumns a.iconactive {
    color: #ffffff;
}
.iconcolumns {
    background-color: #111111;
}
.col-1.iconcolumns {
    max-width: 50px !important;
}
/* social buttons */
.btn-twitter {
    color: #fff !important;
    background-color: #00aced;
    border-color: rgba(0,0,0,0.2);
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
tbody {
    font-size: 0.75em;
}
.uniqueid {
    font-size: 0.8em;
}
.table td, .table th {
    padding: 4px;
}
button {
    background-color: #fff;
    border: none;
}