<div class="row no-gutters"> <!-- top first half row -->
  <div class="col-1 iconcolumns fullheight">
    <a href="" routerLink="/dashboard"><i class="fa fa-home fa-lg"></i></a><br/>
    <a href=""><i class="fa fa-line-chart fa-lg"></i></a><br/>
    <a href="" routerLink="/events"><i class="fa fa-calendar fa-lg"></i></a><br/>
    <a href=""><i class="fa fa-envelope-o fa-lg"></i></a><br/>
    <a href="" class="iconactive" routerLink="/settings"><i class="fa fa-cogs fa-lg"></i></a><br/>
    <a href="" routerLink="/profile"><i class="fa fa-user fa-lg"></i></a><br/>
  </div>
  <div class="col-11">
      <div class="row">
        <div class="container">
          <p>&nbsp;</p>
          <!-- <div class="col-md-5">
            <h6>Login using your twitter account to start getting feeds</h6>
            <p>
                <a class="btn btn-social btn-twitter">
                  <i class="fa fa-twitter"></i> Sign in with Twitter
                </a>
            </p>
          </div> -->

          <div class="col-md-5 col-md-offset-3">
            <h4 class="navyblue">Cryptocurrency Feeds</h4>
            <p><i>Please select your preferred cryptocurrencies</i></p>
            <div>
                <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
                    <div class="form-group row">
                        <label for="exampleSelect1" class="col-sm-3 col-form-label">Block 1:</label>
                        <div class="col-sm-9">
                            <input auto-complete type="text" placeholder="Select a cryptocurrency" name="cryptopreference1" [(ngModel)]="data.cryptopreference1" [source]="arrayOfCoins">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleSelect1" class="col-sm-3 col-form-label">Block 2:</label>
                        <div class="col-sm-9">
                            <input auto-complete type="text" placeholder="Select a cryptocurrency" name="cryptopreference2" [(ngModel)]="data.cryptopreference2" [source]="arrayOfCoins"> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleSelect1" class="col-sm-3 col-form-label">Block 3:</label>
                        <div class="col-sm-9">
                            <input auto-complete type="text" placeholder="Select a cryptocurrency" name="cryptopreference3" [(ngModel)]="data.cryptopreference3" [source]="arrayOfCoins">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleSelect1" class="col-sm-3 col-form-label">Block 4:</label>
                        <div class="col-sm-9">
                            <input auto-complete type="text" placeholder="Select a cryptocurrency" name="cryptopreference4" [(ngModel)]="data.cryptopreference4" [source]="arrayOfCoins">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleSelect1" class="col-sm-3 col-form-label">Block 5:</label>
                        <div class="col-sm-9">
                            <input auto-complete type="text" placeholder="Select a cryptocurrency" name="cryptopreference5" [(ngModel)]="data.cryptopreference5" [source]="arrayOfCoins">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleSelect1" class="col-sm-3 col-form-label">Block 6:</label>
                        <div class="col-sm-9">
                            <input auto-complete type="text" placeholder="Select a cryptocurrency" name="cryptopreference6" [(ngModel)]="data.cryptopreference6" [source]="arrayOfCoins">
                        </div>
                    </div>
                    <div class="form-group row">
                            <div class="col-sm-12 offset-sm-2 text-center">
                                <button type="submit" class="btn btn-primary">Save preference</button>
                            </div>
                    </div>
                </form>

            </div>
            <!-- <p><a [routerLink]="['/login']">Logout</a></p> -->
        </div>
        <div class="col-md-6 col-md-offset-3">
            
        </div>

        </div>
      </div>
  </div>
</div>