<div class="row no-gutters"> <!-- top first half row -->
    <div class="col-1 iconcolumns fullheight">
      <a href="" routerLink="/dashboard"><i class="fa fa-home fa-lg"></i></a><br/>
      <a href=""><i class="fa fa-line-chart fa-lg"></i></a><br/>
      <a href="" routerLink="/events"><i class="fa fa-calendar fa-lg"></i></a><br/>
      <a href=""><i class="fa fa-envelope-o fa-lg"></i></a><br/>
      <a href="" class="iconactive" routerLink="/settings"><i class="fa fa-cogs fa-lg"></i></a><br/>
      <a href="" routerLink="/profile"><i class="fa fa-user fa-lg"></i></a><br/>
    </div>
    <div class="col-11">
        <div class="row">
          <div class="container">
    
        <div class="page-header">
            <h3>My Profile</h3>
            <!-- <a href="/logout" class="btn btn-default btn-sm">Logout</a> -->
        </div>
    
        <div class="row">
    
            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6 col-md-3">
                <div class="well">
                    <h5> Avatar Picture</h5>
                    <img class="profilepicholder" src="assets/images/profile-img-placeholder.png" alt="profile pic"/>
                    <h6>Upload picture</h6>
                    <p><a href="/auth/twitter"><i class="fa fa-twitter-square fa-2x fa-button"></i></a> Add Twitter</p>
                    <p><a href="/auth/facebook"><i class="fa fa-facebook-square fa-2x fa-button"></i></a> Add Facebook</p>
                    <p><a href="/auth/linkedin"><i class="fa fa-linkedin-square fa-2x fa-button"></i></a> Add Linkedin</p>
                    <p><a href="/auth/google"><i class="fa fa-google-plus-square fa-2x fa-button"></i></a> Add Google+</p>
                        <!-- <p>
                            <strong>id</strong>: {{userid}}<br>
                            <strong>email</strong>: {{userEmail}}<br>
                            <strong>password</strong>: - <br>
                            <strong>Name</strong>: {{userName}}<br>
                            <strong>Logged in As</strong>: {{userLoggedInAs}} user<br>
                            <strong>Token</strong>: {{userToken}}<br>
                            <strong>Phone</strong>: - <br>
                        </p> -->
    
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <form>
                    <div class="form-group">
                        <label for="fullname">Full Name</label>
                        <input [(ngModel)]="data.userName" type="text" name="fullname" class="form-control"  id="fullname" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input [(ngModel)]="data.userCountry" type="text" name="country" class="form-control"  id="country" placeholder="Country">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input [(ngModel)]="data.userAge" type="text" name="age" class="form-control"  id="age" placeholder="Age">
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile no</label>
                        <input [(ngModel)]="data.userMobile" type="text" name="mobile" class="form-control"  id="mobile" placeholder="mobile no">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3">Email</label>
                        <input [(ngModel)]="data.userEmail" type="email" name="email" class="form-control"  id="email" placeholder="Email">
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-4 text-center">
                            <a class="remove-account" href="">Remove account</a>
                            <br/>
                            <a class="remove-account" href="">Reset Password</a>
                        </div>
                        <div class="col-sm-8 text-center">
                        <button (click)="update_information(data.userid)" type="submit" class="btn btn-primary">Update information</button>
                        </div>
                    </div>
                </form>
            </div>
    
        </div>
    </div>
    </div>
    </div>
</div>
