<div class="row no-gutters"> <!-- top first half row -->
    <div class="col-1 iconcolumns fullheight">
      <a href="" routerLink="/dashboard"><i class="fa fa-home fa-lg"></i></a><br/>
      <a href="" routerLink="/dashboard"><i class="fa fa-tachometer fa-lg"></i></a><br/>
      <a href=""><i class="fa fa-line-chart fa-lg"></i></a><br/>
      <a href=""><i class="fa fa-envelope-o fa-lg"></i></a><br/>
      <a href="" class="iconactive" routerLink="/settings"><i class="fa fa-cogs fa-lg"></i></a><br/>
      <a href="" routerLink="/profile"><i class="fa fa-user fa-lg"></i></a><br/>
      <a href=""><i class="fa fa-plus fa-lg"></i></a><br/>
    </div>
    <div class="col-11">
        <div class="row">
          <div class="container">
    
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
    
        <div class="row">
    
            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>
    
                        <p>
                            <strong>id</strong>: {{userid}}<br>
                            <strong>email</strong>: {{userEmail}}<br>
                            <strong>password</strong>: - <br>
                            <strong>Name</strong>: {{userName}}<br>
                            <strong>Logged in As</strong>: {{userLoggedInAs}} user<br>
                            <strong>Phone</strong>: - <br>
                        </p>
    
                </div>
            </div>
    
        </div>
    </div>
    </div>
    </div>
</div>
