<div class="container">
    
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
    
        <div class="row">
    
            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>
    
                        <p>
                            <strong>id</strong>: {{userid}}<br>
                            <strong>email</strong>: {{userEmail}}<br>
                            <strong>password</strong>: - <br>
                            <strong>Name</strong>: {{userName}}<br>
                            <strong>Logged in As</strong>: {{userLoggedInAs}} user<br>
                            <strong>Phone</strong>: - <br>
                        </p>
    
                </div>
            </div>
    
        </div>

        <div class="col-md-6 col-md-offset-3">
            <h4>Customize your dashboard</h4>
            <h5>Watch your preferred Crypto currency news Live</h5>
            
            <div>
                <form>
                    <div class="form-group row">
                        <label for="exampleSelect1" class="col-sm-2 col-form-label">1.</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="exampleSelect1">
                                <option selected>Ethereum</option>
                                <option>OmiseGO</option>
                                <option>Ripple</option>
                                <option>Litecoin</option>
                                <option>NEM</option>
                                <option>Dash</option>
                                <option>IOTA</option>
                                <option>Monero</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                            <label for="exampleSelect1" class="col-sm-2 col-form-label">2.</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="exampleSelect1">
                                    <option>Ethereum</option>
                                    <option selected>OmiseGO</option>
                                    <option>Ripple</option>
                                    <option>Litecoin</option>
                                    <option>NEM</option>
                                    <option>Dash</option>
                                    <option>IOTA</option>
                                    <option>Monero</option>
                                </select>
                            </div>
                    </div>
                    <div class="form-group row">
                            <label for="exampleSelect1" class="col-sm-2 col-form-label">3.</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="exampleSelect1">
                                    <option>Ethereum</option>
                                    <option>OmiseGO</option>
                                    <option selected>Ripple</option>
                                    <option>Litecoin</option>
                                    <option>NEM</option>
                                    <option>Dash</option>
                                    <option>IOTA</option>
                                    <option>Monero</option>
                                </select>
                            </div>
                    </div>
                    <div class="form-group row">
                            <label for="exampleSelect1" class="col-sm-2 col-form-label">4.</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="exampleSelect1">
                                    <option>Ethereum</option>
                                    <option>OmiseGO</option>
                                    <option>Ripple</option>
                                    <option selected>Litecoin</option>
                                    <option>NEM</option>
                                    <option>Dash</option>
                                    <option>IOTA</option>
                                    <option>Monero</option>
                                </select>
                            </div>
                    </div>
                    <div class="form-group row">
                            <label for="exampleSelect1" class="col-sm-2 col-form-label">5.</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="exampleSelect1">
                                    <option>Ethereum</option>
                                    <option>OmiseGO</option>
                                    <option>Ripple</option>
                                    <option>Litecoin</option>
                                    <option selected>NEM</option>
                                    <option>Dash</option>
                                    <option>IOTA</option>
                                    <option>Monero</option>
                                </select>
                            </div>
                    </div>
                    <div class="form-group row">
                            <label for="exampleSelect1" class="col-sm-2 col-form-label">6.</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="exampleSelect1">
                                    <option>Ethereum</option>
                                    <option>OmiseGO</option>
                                    <option>Ripple</option>
                                    <option>Litecoin</option>
                                    <option>NEM</option>
                                    <option selected>Dash</option>
                                    <option>IOTA</option>
                                    <option>Monero</option>
                                </select>
                            </div>
                    </div>
                    <div class="form-group row">
                            <label for="exampleSelect1" class="col-sm-2 col-form-label">7.</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="exampleSelect1">
                                    <option>Ethereum</option>
                                    <option>OmiseGO</option>
                                    <option>Ripple</option>
                                    <option>Litecoin</option>
                                    <option>NEM</option>
                                    <option>Dash</option>
                                    <option selected>IOTA</option>
                                    <option>Monero</option>
                                </select>
                            </div>
                    </div>
                    <div class="form-group row">
                            <label for="exampleSelect1" class="col-sm-2 col-form-label">8.</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="exampleSelect1">
                                    <option>Ethereum</option>
                                    <option>OmiseGO</option>
                                    <option>Ripple</option>
                                    <option>Litecoin</option>
                                    <option>NEM</option>
                                    <option>Dash</option>
                                    <option>IOTA</option>
                                    <option selected>Monero</option>
                                </select>
                            </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save preference</button>
                </form>

            </div>
            <p><a [routerLink]="['/login']">Logout</a></p>
        </div>
    
    </div>