<div class="container-fluid">
  <!-- Content here -->
  <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
      <a class="navbar-brand" href="#"><img src="assets/images/tweetblock-logo.png"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          <a class="nav-item nav-link" href="#">About Us</a>
          <a class="nav-item nav-link" href="#">Latest News</a>
          <a class="nav-item nav-link" href="#">Blog</a>
          <a class="nav-item nav-link" href="#">Contact us</a>
          <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
        </div>
      </div>

      <form class="form-inline">
          <a class="navbar-brand" routerLink="/login">Login</a>
        </form>
    </nav>
  <router-outlet></router-outlet>
</div>
