<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Tweet Block</h1>
      <p class="lead text-muted">Crypto Currency news from all around the world, 
        with latest tweets, posts, videos from various de facto channels.
      </p>
      <p>
        <a  routerLink="/login" class="btn btn-primary">Login</a>
        <a  routerLink="/signup" class="btn btn-secondary">Signup</a>
      </p>
      <p>
          or Login using <br/>
          <a href="/auth/twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a href="/auth/facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
          <i class="fa fa-linkedin-square fa-2x"></i>
          <i class="fa fa-google-plus-square fa-2x"></i>
      </p>
    </div>
  </section>

  <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>

          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>

          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>

      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>you can customize dashboard for yourself!</p>
        <p>New to tweetblock <a href="../../">Visit the homepage</a> or read our <a href="../../tweetblock-guide/">getting started guide</a>.</p>
      </div>
    </footer>
    
<br/>