<div class="row no-gutters"> <!-- top first half row -->
  <div class="col-1 iconcolumns">
    <a href="" routerLink="/dashboard" class="iconactive"><i class="fa fa-home fa-lg"></i></a><br/>
    <a href="" routerLink="/dashboard"><i class="fa fa-tachometer fa-lg"></i></a><br/>
    <a href=""><i class="fa fa-line-chart fa-lg"></i></a><br/>
    <a href=""><i class="fa fa-envelope-o fa-lg"></i></a><br/>
    <a href="" routerLink="/settings"><i class="fa fa-cogs fa-lg"></i></a><br/>
    <a href="" routerLink="/profile"><i class="fa fa-user fa-lg"></i></a><br/>
    <a href=""><i class="fa fa-plus fa-lg"></i></a><br/>
  </div>
  <div class="col-11">
    <div class="row no-gutters">
      <div class="col-xs-12 col-sm-6 col-md-3 dashboardcol">
        <div class="dashheading">
          <span class="mainheading"><img src="assets/images/cryptoicons-sm/ethereum.png" /> Ethereum</span>
          <span class="float-right"><i class="fa fa-bar-chart fa-lg"></i></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 dashboardcol">
        <div class="dashheading">
          <span class="mainheading"><img src="assets/images/cryptoicons-sm/omisego.png" /> OmiseGO</span>
          <span class="float-right"><i class="fa fa-bar-chart fa-lg"></i></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 dashboardcol">
        <div class="dashheading">
          <span class="mainheading"><img src="assets/images/cryptoicons-sm/ripple.png" /> Ripple</span>
          <span class="float-right"><i class="fa fa-bar-chart fa-lg"></i></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 dashboardcol">
          <div class="dashheading">
            <span class="mainheading"><img src="assets/images/cryptoicons-sm/litecoin.png" /> Litecoin</span>
            <span class="float-right"><i class="fa fa-bar-chart fa-lg"></i></span>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters"> <!-- second half row -->
  <div class="col-1 iconcolumns">
    
  </div>
  <div class="col-11">
    <div class="row no-gutters">
      <div class="col-xs-12 col-sm-6 col-md-3 dashboardcol">
        <div class="dashheading">
          <span class="mainheading"><img src="assets/images/cryptoicons-sm/nem.png" /> NEM</span>
          <span class="float-right"><i class="fa fa-bar-chart fa-lg"></i></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 dashboardcol">
        <div class="dashheading">
          <span class="mainheading"><img src="assets/images/cryptoicons-sm/dash.png" /> Dash</span>
          <span class="float-right"><i class="fa fa-bar-chart fa-lg"></i></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 dashboardcol">
        <div class="dashheading">
          <span class="mainheading"><img src="assets/images/cryptoicons-sm/iota.png" /> IOTA</span>
          <span class="float-right"><i class="fa fa-bar-chart fa-lg"></i></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 dashboardcol">
        <div class="dashheading">
          <span class="mainheading"><img src="assets/images/cryptoicons-sm/monero.png" /> Monero</span>
          <span class="float-right"><i class="fa fa-bar-chart fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>