.dashboardcol {
    min-height: 45vh;
    border-right: 1px solid #cecece;
}
.dashboardcol.all-crypto {
    min-height: 90vh;
}
.dashboardcol .dashheading {
    background-color: #f1f1f1;
    padding-left: 4px;
    font-weight: bold;
}
.dashheading i {
    padding-right: 10px;
    color: #a4a4a4;
}
.percentage-change {
    float: right;
    padding-right: 12px;
}
.iconcolumns a {
    color: #cecece;
    padding: 10px;
    display: inline-block;
}
@media (max-width:550px){
    .iconcolumns a {
        padding: 10px 1px;
    }
}

.iconcolumns a:hover {
    color: #ffffff;
}
.iconcolumns a.iconactive {
    color: #ffffff;
}
.iconcolumns {
    background-color: #111111;
}
.col-1.iconcolumns {
    max-width: 50px !important;
}
.thinline {
    font-size: 0.7em;
    background: #00BDDF;
    color: #000000;
}
.dashbody {
    font-size: 0.7em;
    height: 40vh;
    max-height: 40vh;
    border: 1px solid #cecece;
    overflow-y: scroll;
    overflow-x: hidden;
}
.all-crypto .dashbody {
    height: 85vh;
    max-height: 85vh;
}
.searchText {
    width: 100%;
    font-size: 14px;
    line-height: 0.5em;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.handlelink {
    color: #cecece;
    font-size: 12px;
    padding-top: 3px;
    max-width: 88px;
    display: block;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hname {
    max-width: 100px;
    display: block;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hlogo {
    padding-top: 4px;
}
.dashbody {
    clear: both;
}
.float-left {
    float: left;
}
.oldfeeds {
    font-size: 8px;
}
.ellipsis {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }