.dashboardcol {
    min-height: 86vh;
    border-right: 1px solid #cecece;
}
.dashboardcol h5 {
    text-align: center;
    background-color: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
}
.iconcolumns a {
    color: #cecece;
    padding: 10px;
    display: inline-block;
}
.iconcolumns a:hover {
    color: #ffffff;
}
.iconcolumns a.iconactive {
    color: #ffffff;
}
.iconcolumns {
    background-color: #111111;
}
.col-1.iconcolumns {
    max-width: 50px !important;
}