<div class="row no-gutters">
  <div class="col-1 iconcolumns">
    <a href="" class="iconactive"><i class="fa fa-home fa-lg"></i></a><br/>
    <a href=""><i class="fa fa-tachometer fa-lg"></i></a><br/>
    <a href=""><i class="fa fa-line-chart fa-lg"></i></a><br/>
    <a href=""><i class="fa fa-envelope-o fa-lg"></i></a><br/>
    <a href=""><i class="fa fa-cogs fa-lg"></i></a><br/>
    <a href=""><i class="fa fa-plus fa-lg"></i></a><br/>
  </div>
  <div class="col-11">
    <div class="row no-gutters">
      <div class="col dashboardcol">
        <h5><img src="assets/images/cryptoicons-sm/bitcoin.png" /> Bitcoin</h5>
      </div>
      <div class="col dashboardcol">
        <h5><img src="assets/images/cryptoicons-sm/ethereum.png" /> Ethereum</h5>
      </div>
      <div class="col dashboardcol">
        <h5><img src="assets/images/cryptoicons-sm/ripple.png" /> Ripple</h5>
      </div>
      <div class="col dashboardcol">
        <h5><img src="assets/images/cryptoicons-sm/litecoin.png" /> Litecoin</h5>
      </div>
    </div>
  </div>
</div>